{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="four columns">
        <h2 class="center">Le Plessis-Brion</h2>
        {{ google_map(map_plessis) }}
    </div>
    <div class="four columns">
        <div class="row">
            <h2 class="center">Indications</h2>
            <div class="six columns">
                <div class="text-block">
                    <p class="center">
                        <img src="{{ asset('bundles/shadowwedding/images/mapicons/reception.png') }}" alt="" />
                        <br />
                        Mairie de le Plessis-Brion<br />
                        76 Rue Edouard Meunier, 60150 Le Plessis-Brion
                    </p>

                    <p class="center">
                        <img src="{{ asset('bundles/shadowwedding/images/mapicons/church.png') }}" alt="" />
                        <br />
                        Église de le Plessis-Brion<br />
                        19 rue de l’église, 60150 Le Plessis-Brion
                    </p>

                </div>
            </div>
            <div class="six columns">
                <p class="center">
                    <img src="{{ asset('bundles/shadowwedding/images/mapicons/wedding.png') }}" alt="" />
                    <br />
                    Domaine des Thermes de Pierrefonds<br />
                    8 rue Sabatier, 60350 Pierrefonds
                </p>

                <p class="center">
                    <img src="{{ asset('bundles/shadowwedding/images/mapicons/bed.png') }}" alt="" />
                    <br />
                    Internat agricole de l’Institut Charles Quentin<br />
                    1 rue Sabatier, 60350 Pierrefonds
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h2 class="center">Hébergement</h2>
                <p class="justify" style="font-size:120%;">
                    Pour l’hébergement, nous vous avons sélectionné un lieu d’exception...<br /><br />
                    L’internat agricole de l’Institut Charles Quentin se trouve idéalement situé en face du domaine des thermes :
                    il vous suffit de traverser la route pour aller vous coucher dans une chambre, de 2 ou 3 lits, qui vous replongera dans votre adolescence.<br /><br />
                    Si vous souhaitez ce type d’hébergement, vous devrez réserver avant le <strong>27 Avril 2015</strong>.<br /><br />
                    Pour cela, merci de nous retourner le coupon réponse présent dans votre faire-part accompagner d’un
                    chèque à l’ordre de M. Huguet Frank et Melle Dacquin Claire et d’un montant de <strong>18,70 euros</strong> par personne.
                </p>

                <p class="center" style="font-weight: bold; font-size:120%;">
                    Internat agricole de l’Institut Charles Quentin<br />
                    (En face du domaine des thermes)<br />
                    1 Rue Sabatier<br />
                    60350 Pierrefonds
                </p>

                <p class="justify" style="font-size:120%;">
                    Si vous préférez le confort d’un hôtel ou bien que vous ayez peur du grand Gilou
                    (des années d’expériences en internat, sa spécialité : le lit en portefeuille),
                    nous vous proposons de cliquer sur le lien ci-dessous pour accéder à la brochure de l’office du
                    tourisme listant les lieux d’hébergement proche de Pierrefonds.
                </p>
                <p class="center"><a href="http://www.pierrefonds-tourisme.net/CCCA-guide-hebergements.pdf">Guide de l'hébergement de Pierrefonds</a></p>
            </div>
        </div>
    </div>
    <div class="four columns">
        <h2 class="center">Pierrefonds</h2>
        {{ google_map(map_pierrefonds) }}
    </div>
</div>
{% endblock %}

{% block body %}
    {{ parent() }}
    <img class="gilou" src="{{ asset('bundles/shadowwedding/images/gilou2.png') }}" />
{% endblock %}

{% block page_title %}Infos pratiques{% endblock %}
