{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block page_title %}Remerciements{% endblock %}

{% block content %}
    <div class="row">
        <div class="three columns">
            <h2 class="thank-name">
                Bernard Huguet<br />
                <small>Père du marié</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/bernard.png') }}" alt="" />
            </p>
        </div>
        <div class="three columns">
            <h2 class="thank-name">
                Muriel Huguet<br />
                <small>Mère du marié</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/muriel.png') }}" alt="" />
            </p>
        </div>
        <div class="three columns">
            <h2 class="thank-name">
                Patrick Dacquin<br />
                <small>Père de la mariée</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/patrick.png') }}" alt="" />
            </p>
        </div>
        <div class="three columns">
            <h2 class="thank-name">
                Françoise Dacquin<br />
                <small>Mère de la mariée</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/francoise.png') }}" alt="" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p class="handwritten center" style="font-size: 225%">
                Nous profitons de cette page pour remercier toutes les personnes qui nous ont aidé à préparer notre jour J!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="two columns">
            <h2 class="thank-name">
                Alexandre Fischer<br />
                <small>Témoin du marié</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/alexandre.png') }}" alt="" />
            </p>
        </div>
        <div class="two columns">
            <h2 class="thank-name">
                Sarah Huguet<br />
                <small>Témoin du marié</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/sarah.png') }}" alt="" />
            </p>
        </div>
        <div class="two columns">
            <h2 class="thank-name">
                Marie-Hélène Gabriel<br />
                <small>Témoin de la mariée</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/marie-helene.png') }}" alt="" />
            </p>
        </div>
        <div class="two columns">
            <h2 class="thank-name">
                Gaëlle Mariette<br />
                <small>Témoin de la mariée</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/gaelle.png') }}" alt="" />
            </p>
        </div>
        <div class="two columns">
            <h2 class="thank-name">
                Cyrielle Caudroy<br />
                <small>Témoin de la mariée</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/cyrielle.png') }}" alt="" />
            </p>
        </div>
        <div class="two columns">
            <h2 class="thank-name">
                Élise Cheron<br />
                <small>Témoin de la mariée</small>
            </h2>
            <p class="center">
                <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/elise.png') }}" alt="" />
            </p>
        </div>
    </div>
{% endblock %}

