<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <title>{% block title %}Mariage de Frank et Claire !{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
            'bundles/shadowwedding/styles/style.css'
            'bundles/shadowwedding/styles/layout.css'
            'bundles/shadowwedding/styles/color.css'
            'bundles/shadowwedding/styles/flexslider.css'
            'bundles/shadowwedding/styles/custom.css'
            filter='cssrewrite'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link href="{{ asset('bundles/shadowwedding/images/favicon.ico') }}" rel="shortcut icon" />
    </head>

    <body id="bodychild">
    {% block body %}
        <div id="outerheader">
            <div id="headercontainer">
                <div class="container">
                    <header id="countdown">4 jours, 23 heures et 4 minutes</header>
                    <div class="row">
                        <div class="column three">
                            <div id="logo">
                                <div id="logoimg">
                                    <a href="{{ path('homepage') }}" title="Mariage Frank et Claire" ><img src="{{ asset('bundles/shadowwedding/images/logo.png') }}" alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="column nine">
                            <header id="top">
                                <section id="navigation">
                                    <nav id="nav-wrap">
                                        {{ knp_menu_render('ShadowWeddingBundle:Builder:mainMenu') }}
                                        <div class="clear"></div>
                                    </nav><!-- nav -->
                                    <div class="clear"></div>
                                </section>
                                <div class="clear"></div>
                            </header>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="outerafterheader">
            <div class="container">
                <div class="row">
                    <div id="afterheader" class="twelve columns">
                        <div id="trapezoid">
                            <h1 class="pagetitle">{% block page_title %}{% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-line"></div>
        </div>

        <div id="outermain">
            <div class="container">
                <div class="row">
                    <section id="maincontent" class="twelve columns">
                        <section id="content">
                            {% block content %}{% endblock %}
                        </section>
                    </section>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts
            '@ShadowWeddingBundle/Resources/public/js/jquery-1.11.1.min.js'
            '@ShadowWeddingBundle/Resources/public/js/jquery-migrate-1.2.1.min.js'
            '@ShadowWeddingBundle/Resources/public/js/hoverIntent.js'
            '@ShadowWeddingBundle/Resources/public/js/superfish.js'
            '@ShadowWeddingBundle/Resources/public/js/supersubs.js'
            '@ShadowWeddingBundle/Resources/public/js/tinynav.min.js'
            '@ShadowWeddingBundle/Resources/public/js/custom.js'
            '@ShadowWeddingBundle/Resources/public/js/jquery.flexslider-min.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script>
                document.createElement('header');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('nav');
                document.createElement('footer');
            </script>
        {% endblock %}
    {% endblock %}
    </body>
</html>